<div class="containerTour" *ngFor="let item of items | async">
<div class="status">
    <img class="ic_time" src="../../assets/ic_clock.png"/>
</div>

<div class="date_title">

  <div class="date">{{item.date}}</div>
  <div class="title">Tournée {{item.id}}</div>
</div>
<div class="city-container">
  <img class="map_marker" src="../../assets/grey_map_marker.png">
  <div class="city-name"><span>{{item.city}}</span></div>
</div>

<img class="ic_collect_points" src="../../assets/ic_colletc_points.png">

<div class="nbr_points">{{item.list_collectPoints.length}} points</div>

 
  <!--<img id="map_marker" src="../../assets/green_map_marker.png">
  -->
</div>
