<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="signOut()">
                <ion-icon name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'my-collects' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card *ngFor="let collect of collects$ | async">
        <ion-item lines="full">
            <ion-label>Vous avez une collecte le</ion-label>
        </ion-item>

        <ion-card-content>
            {{collect.date | date: 'dd/MM/yyyy à H:mm'}}
        </ion-card-content>
    </ion-card>
</ion-content>
