

<ion-content padding>
  <ion-segment  value="card" [(ngModel)]="segment">
    
    <ion-segment-button value="user" >
        Passé
    </ion-segment-button>
    <ion-segment-button value="card" ckecked>
      Aujourd'hui
    </ion-segment-button>
    <ion-segment-button value="change">
      À venir
    </ion-segment-button>

  </ion-segment>


  <div [ngSwitch]="segment">

      <app-tour *ngSwitchCase="'user'" ></app-tour>

      <div *ngSwitchCase="'card'">
          <div  class="containerTour" *ngFor="let tour of today_tours$ | async">
              <app-today-tour  [tour]="tour"></app-today-tour>
          </div>
      </div>



      <app-tour *ngSwitchCase="'change'"></app-tour>
        
  </div>

</ion-content>
