ion-segment-button{
  --color : #B9B9B9;
  --background: #1A73E9;
  --background-activated: #1A73E9;
  --background-checked : #1A73E9;
  --border-width : 10px;
  --color-checked : #ffffff;
  --indicator-color-checked :#9EF769;
  }
  
  