

<ion-content padding>
  <ion-segment  value="card" [(ngModel)]="segment">
    
    <ion-segment-button value="passed" >
        Passé
    </ion-segment-button>
    <ion-segment-button value="today" ckecked>
      Aujourd'hui
    </ion-segment-button>
    <ion-segment-button value="coming">
      À venir
    </ion-segment-button>

  </ion-segment>


  <div [ngSwitch]="segment">


      <div *ngSwitchCase="'passed'">
          <div  class="containerTour" *ngFor="let tour of passed_tours$ | async">
              <app-tour [tour]="tour"></app-tour>
          </div>
      </div>

      <div *ngSwitchCase="'today'">
          <div  class="containerTour" *ngFor="let tour of today_tours$ | async">
              <app-today-tour  [tour]="tour"></app-today-tour>
          </div>
      </div>

      <div *ngSwitchCase="'coming'">
          <div  class="containerTour" *ngFor="let tour of coming_tours$ | async">
              <app-tour  [tour]="tour"></app-tour>
          </div>
      </div>








        
  </div>

</ion-content>
