<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">

    <div class="date">
      <div class="icon_container">
        <img class="icon_img" src="../../assets/calendar_blue.png">
      </div>
      <div class="label">{{"Le " + date  | date:'dd-MM-yyyy'}}</div>
    </div>
    <div class="driver">
      <div class="icon_container">
        <img class="icon_img" src="../../assets/driver_blue.png">
      </div>
      <div class="label">{{driver}}</div>
    </div>
    <div class="vehicle">
      <div class="icon_container">
        <img class="icon_img" src="../../assets/car_blue.png">
      </div>
      <div class="label">{{vehicle}}</div>
    </div>

    <div class="city">
      <div class="icon_container">
        <img class="icon_img" src="../../assets/position_blue.png">
      </div>
      <div class="label">{{city}}</div>
    </div>


  </div>

  <div  class="containerTour" *ngFor="let point of collectPoints">
    <app-collect-point [point]="point"> </app-collect-point>
  </div>






  <div class="buttons">
    <ion-button color="primary" class="next" (click)="validate()">Suivant</ion-button>
    <ion-button color="secondary" class="cancel">Annuler</ion-button>
  </div>

</ion-content>


