<ion-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" inputmode="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-button color="tertiary" fill="clear" routerLink="signup">S'inscrire</ion-button>
        <ion-button [disabled]="!form.valid" color="tertiary" type="submit">Se connecter</ion-button>
        <ion-button (click)="signOut()" color="tertiary">Se déconnecter</ion-button>
        <p></p>
    </form>
</ion-content>
