<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Détails Tournée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment  value="card" [(ngModel)]="segment">

    <ion-segment-button value="collectPoints" >
      Détails
    </ion-segment-button>
    <ion-segment-button value="map" ckecked>
      Carte
    </ion-segment-button>


  </ion-segment>


  <div [ngSwitch]="segment">


    <div *ngSwitchCase="'collectPoints'">
      <div  class="containerTour" *ngFor="let point of collectPointsNames">
        <app-collect-point [point]="point"> </app-collect-point>
      </div>
    </div>

    <div *ngSwitchCase="'map'">
      <agm-map
              [latitude]="location?.lat"
              [longitude]="location?.lng"
              [zoom]="12"
              [disableDefaultUI]="false"
              [zoomControl]="false">
        <agm-marker
                *ngFor="let point of collecPoints"
                [latitude]="point.latitude"
                [longitude]="point.longitude"
                [iconUrl]= markericon>

          <agm-info-window>
            <img src="../../../../assets/Icon_client_green.png"/>
            <strong>{{point.name}}</strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <p *ngIf="loading">Loading...</p>
    </div>



  </div>

</ion-content>




